@model List<Entity.Concerete.CarStatus>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Araba Durum Listesi</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>  
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Araba Detayları</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CarStatusId</td>
            <td>@item.CarStatusName</td>       
            <td><a href="/CarStatus/Delete/@item.CarStatusId" class="btn btn-danger">Sil</a></td>
            <td><a href="/CarStatus/Update/@item.CarStatusId" class="btn btn-success">Güncelle</a></td>
         

        </tr>
    }
</table>

<a href="/CarStatus/Add/" class="btn btn-secondary">Yeni Araba Durum Girişi</a>